body {
  min-width: 320px;
}

.responsive-img {
  max-width: 200px !important;
  height: 200px !important;
  object-fit: cover;
}

.brand {
  font-size: 2rem;
}

form {
  max-width: 500px;
  margin: auto;
  padding: 25px;
  background-color: white;
}

.error {
  color: red !important;
}

.success {
  color: green;
}
